@import "common.css";

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.block-main {
  height: 100vh;
  width: 100%;
  background-color: indianred;
  transition: width 0.5s ease-in-out;
}
.block-main .block-header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 30%;
  background-image: url('../image/banner/angers-3.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.block-main .block-header .container-i {
  height: 85px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
  z-index: 2;
}
.block-main .block-header .container-i.left {
  background-color: orange;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.block-main .block-header .container-i.left i {
  transition: transform 0.2s ease-in-out;
}
.block-main .block-header .modify-banner-picture {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding-top: 75px;
}
.block-main .block-header .modify-banner-picture:hover {
  border: 5px solid orange  ;
}
.block-main .block-header .modify-banner-picture:hover + .modify-profile-picture {
  opacity: 0;
}
.block-main .block-header .profile-picture {
  border-radius: 100%;
  position: absolute;
  height: 250px;
  width: 250px;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: url('../image/profile/street gang.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 2;
}
.block-main .block-header .modify-profile-picture {
  border-radius: 100%;
  position: absolute;
  height: 250px;
  width: 250px;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  z-index: 2;
}
.block-main .block-header .modify-profile-picture:hover {
  border: 5px solid orange;
}

.block-main .block-body {
  height: 60%;
}
.block-main .block-body .block-menu {
  height: 10%;
}
.block-main .block-body .block-info {
  height: 90%;
}
.block-main .block-body .block-info .modify-form {
  padding: 20px;
}
.block-main .block-body .block-info .block-reset {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block-main .block-body .block-info .block-reset .reset-password button {
  padding: 0px;
}

.send-btn {
	 background: #1d1d1d;
	 color: white;
	 border: none;
	 font-size: 10px;
	 font-size: 1rem;
	 background-color: #1d1d1d;
	 letter-spacing: 1.5px;
	 text-transform: uppercase;
	 padding: 14px 21px;
	 padding: 1.4rem 2.1rem;
	 border: 2px solid #1d1d1d;
	 transition: color 0.1s cubic-bezier(0.16,0.08,0.355,1), background 0.1s cubic-bezier(0.16,0.08,0.355,1);
	 display: inline-block;
	 cursor: pointer;
	 width: 100%;
	 min-width: 200px;
	 min-width: 20rem;
	 outline: none;
	 vertical-align: middle;
	 text-align: center;
	 position: relative;
	 overflow: hidden;
}
 @media (min-width: 400px) {
	 .send-btn {
		 width: auto;
	}
}
 @media (min-width: 800px) {
	 .send-btn {
		 font-size: 1.1rem;
		 padding: 1.6rem 2.8rem;
	}
}
 .send-btn:hover {
	 background: #2a2a2a;
	 border-color: #2a2a2a;
	 color: #fff;
}
 .btn-border {
	 background-color: transparent;
	 color: #1d1d1d;
}
 .btn-arrow {
	 position: relative;
	 transition: background-color 300ms ease-out;
}
 .btn-arrow span {
	 display: inline-block;
	 position: relative;
	 transition: all 300ms ease-out;
	 will-change: transform;
}
 .btn-arrow:hover span {
	 transform: translate3d(-1rem,0,0);
}
 .btn-arrow svg {
	 position: absolute;
	 width: 1.1em;
	 right: 0px;
	 right: 0rem;
	 opacity: 0;
	 top: 50%;
	 transform: translateY(-50%);
	 transition: all 300ms ease-out;
	 will-change: right, opacity;
}
 .btn-arrow svg * {
	 stroke-width: 5;
	 stroke-color: transparent;
}
 .btn-arrow:hover svg {
	 opacity: 1;
	 right: -2rem;
}
