@import "common.css";

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.block-main {
  height: 100vh;
  width: 100%;
  background-color: indianred;
  transition: width 0.5s ease-in-out;
}
.block-main .block-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 8%;
}
.block-main .block-header .login {
  color: white;
}
.block-main .block-header .container-i {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
}
.block-main .block-header .container-i.left {
  background-color: orange;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.block-main .block-header .container-i.left i {
  transition: transform 0.2s ease-in-out;
}

.block-main .block-partie {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-main .block-partie .player, .block-main .block-partie .score, .block-main .block-partie .dash {
  font-family: 'Font', 'Arial', sans-serif;
  font-size: 3rem;
  color: white;
}
.block-main .block-partie .player-one {
  padding-right: 100px;
  display: flex;
  justify-content: flex-end;
}
.block-main .block-partie .player-two {
  padding-left: 100px;
}
.block-main .block-partie .player {
  width: 40%;
}
.block-main .block-partie .score {
  padding: 0px 20px;
}

.block-main .block-answer {
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.block-main .block-answer .answer {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.block-main .block-answer .answer .answer-box {
  width: 30%;
  height: 50%;
  border-radius: 20px;
}
.block-main .block-answer .answer .true {
  background-color: green;
}
.block-main .block-answer .answer .false {
  background-color: red;
}
.block-main .block-answer .answer .none {
  background-color: grey;
}

.block-main .block-round {
  height: 82%;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}
.block-main .block-round .categorie {
  font-family: 'Font', 'Arial', sans-serif;
  font-size: 2rem;
  color: white;
  text-align: center;
}

.block-main .block-play {
  margin-top: 20px;
  text-align: center;
}
.block-main .block-play .play {
  background-color: darkgreen;
  color: white;
  width: 200px;
  text-decoration: none;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Font', 'Arial', sans-serif;
  margin: 0 auto;
}
.block-main .block-play .wait {
  margin: 0 auto;
  background-color: grey;
  color: white;
  width: 300px;
  border: none;
  border-radius: 5px;
  font-family: 'Font', 'Arial', sans-serif;
}
.block-main .block-play .play:focus {
  outline: 0;
}

/***********************************************************************
SCROLL BAR CSS
***********************************************************************/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


























b{}
