@import "common.css";

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.block-main {
  height: 100vh;
  width: 100%;
  background-color: indianred;
  transition: width 0.5s ease-in-out;
}
.block-main .block-header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 40%;
  background-image: url('../image/banner/angers-3.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.block-main .block-header .container-i {
  height: 85px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
}
.block-main .block-header .container-i.left {
  background-color: orange;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.block-main .block-header .container-i.left i {
  transition: transform 0.2s ease-in-out;
}
.block-main .block-header .profile-picture {
  border-radius: 100%;
  position: absolute;
  height: 300px;
  width: 300px;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: url('../image/profile/street gang.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.block-main .block-body {
  height: 60%;
}
.block-main .block-body .block-menu {
  height: 10%;
}
.block-main .block-body .block-info {
  height: 90%;
}
.block-main .block-body .block-menu .fa-cog {
  color: white;
  padding: 15px;
  float: right;
  cursor: pointer;
}
