{% extends 'layout.twig' %}

{% block css %}

  <link rel="stylesheet" href="/stylesheet/accueil.css">
  <link rel="stylesheet" href="/stylesheet/friend.css">

{% endblock %}

{% block body %}
  <div class="block-main" id="blockMain">

    <a style="color:white;position:absolute" href="/disconnect">Déconnexion</a>

    <div class="block-header">
      <div class="login px-2">
        {% if login is defined %}{{login|capitalize}}{% endif %}
      </div>
      <div class="container-i profile px-3"><a href="/profile"><i class="fa fa-user fa-2x" aria-hidden="true"></i></a></div>
      <div class="container-i left px-4" onclick="displayFriend()"><i class="fa fa-caret-left fa-2x" id="leftArrow" aria-hidden="true"></i></div>
    </div>

    <div class="block-info">
      <div class="alert alert-success friend-confirmed" role="alert">Ami ajouté !</div>
      <div class="alert alert-danger friend-canceled" role="alert">Demande refusée !</div>
    </div>

    <h1 class="title">BroQuiz</h1>

    <div class="block-button">
      <a href="/parties" class="btn btn-dark w-25 mb-3 p-3"><span>Jouer</span></a>
      <a href="/classement" class="btn btn-dark w-25 mb-3 p-3"><span>Classement</span></a>
      <button type="button" class="btn btn-dark w-25 mb-3 p-3">Historique</button>
      <a href="/question" class="btn btn-dark w-25 mb-3 p-3"><span>Ajouter une question</span></a>
    </div>

    {% include 'friend.twig' %}

  </div>

{% endblock %}

{% block script%}

  <script src= "/vendors/list/list.min.js" charset="utf-8"></script>
  <script type="text/javascript">
    var position = 0;

    function friendRequest() {
      socket.emit('friend-request', { user: '{{id}}', friend: $("#friendLogin").val() } );
      $('#friendLogin').val('');
    }

    function displayFriend() {
      if (position == 0) {
        $("#blockFriend").css("left","70%");
        $("#blockMain").css("width","70%");
        $("#leftArrow").css("transform","rotate(180deg)");
        position = 1;
      } else {
        $("#blockFriend").css("left","100%");
        $("#blockMain").css("width","100%");
        $("#leftArrow").css("transform","rotate(0deg)");
        position = 0;
      }

    }

    function confirmRequest(friend) {
      socket.emit('confirm-request', { friend: friend } );
    }

    function cancelRequest(friend) {
      socket.emit('cancel-request', { friend: friend } );
    }

    socket.on('friend-confirmed', function (data) {
      $("#"+data.data+"-icon").html('<i class="fas fa-circle"></i>');
      $('.friend-confirmed').css('display','block');
      setTimeout(function() { $(".friend-confirmed").css('display','none'); }, 5000);
    });

    socket.on('friend-canceled', function (data) {
      $("#"+data.data).css('display','none');
      $('.friend-canceled').css('display','block');
      setTimeout(function() { $(".friend-canceled").css('display','none'); }, 5000);
    });

    var list = new List('friend-list', {
      valueNames: ['name']
    });
  </script>

{% endblock %}
