{% extends 'layout.twig' %}

{% block css %}
  <link rel="stylesheet" href="/vendors/countryFlags/countrySelect.min.css">
  <link rel="stylesheet" href="/stylesheet/parties.css">
  <link rel="stylesheet" href="/stylesheet/friend.css">
{% endblock %}

{% block body %}
  <div class="block-main" id="blockMain">

    <a style="color:white;position:absolute" href="/disconnect">Déconnexion</a>

    <div class="block-header">
      <div class="login px-2">
        {% if login is defined %}{{login|capitalize}}{% endif %}
      </div>
      <div class="container-i profile px-3"><i class="fa fa-user fa-2x" aria-hidden="true"></i></div>
      <div class="container-i left px-4" onclick="displayFriend()"><i class="fa fa-caret-left fa-2x" id="leftArrow" aria-hidden="true"></i></div>
    </div>

    <div class="block-info">
      <div class="alert alert-success friend-confirmed" role="alert">Ami ajouté !</div>
      <div class="alert alert-danger friend-canceled" role="alert">Demande refusée !</div>
    </div>

    <h1 class="title">BroQuiz</h1>

    <div class="block-button">
      <a href="/parties" class="btn btn-dark w-25 mb-3 p-3"><span>Jouer</span></a>
      <button type="button" class="btn btn-dark w-25 mb-3 p-3">Classement</button>
      <button type="button" class="btn btn-dark w-25 mb-3 p-3">Historique</button>
      <a href="/question" class="btn btn-dark w-25 mb-3 p-3"><span>Ajouter une question</span></a>
    </div>

    {% include 'friend.twig' %}

  </div>
{% endblock %}

{% block script%}
  <script src= "/vendors/socket.io/socket.io.js"></script>
  <script src= "/javascript/friend.js"></script>
{% endblock %}
