{% extends 'layout.twig' %}

{% block css %}

  <link rel="stylesheet" href="/stylesheet/accueil.css">
  <link rel="stylesheet" href="/stylesheet/friend.css">

{% endblock %}

{% block body %}

  <div class="block-main" id="blockMain">

    <a style="color:white;position:absolute" href="/accueil">Retour</a>

    <div class="block-header">
      <div class="login px-2">
        Bonjour {% if login is defined %}{{login}}{% endif %} !
      </div>
      <div class="container-i profile px-3"><i class="fa fa-user fa-2x" aria-hidden="true"></i></div>
      <div class="container-i left px-4" onclick="displayFriend()"><i class="fa fa-caret-left fa-2x" id="leftArrow" aria-hidden="true"></i></div>
    </div>

    <h1 class="title">BroQuiz</h1>

    <div class="block-button">

      <form class="col-6" id="questionForm" action="/question/add" method="post">

        <div class="form-group row mb-4">
          <label for="category" class="col-sm-3">Categorie</label>
          <div class="col-sm-9">
            <select id="category" name="category" class="form-control">
              {% for categories in category %}
                <option value="{{categories.category_id}}">{{categories.category_label}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="form-group row mb-4">
          <label for="question" class="col-sm-3">Question</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Entrer votre question" name="question">
          </div>
        </div>

        <div class="form-group row mb-4">
          <label for="reponse1" class="col-sm-3">Vraie réponse 1</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Entrer une réponse" name="reponse1">
          </div>
        </div>

        <div class="form-group row mb-4">
          <label for="reponse2" class="col-sm-3">Réponse 2</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Entrer une réponse" name="reponse2">
          </div>
        </div>

        <div class="form-group row mb-4">
          <label for="reponse3" class="col-sm-3">Réponse 3</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Entrer une réponse" name="reponse3">
          </div>
        </div>

        <div class="form-group row mb-4">
          <label for="reponse4" class="col-sm-3">Réponse 4</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Entrer une réponse" name="reponse4">
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Valider</button>

      </form>

    </div>

    {% include 'friend.twig' %}

  </div>


{% endblock %}

{% block script%}

  <script src="/vendors/list/list.min.js" charset="utf-8"></script>
  <script src= "/javascript/friend.js"></script>

{% endblock %}
